* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    color: white;
    background: bisque;
    font-family: Georgia;

}

header{
    width: 100%;
    height: 80px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #fefefe;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a{
    display: block;
    color:#fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover{
    color: black;
    background: #fefefe;
}

/* CONTACT PAGE START*/
#contact-main-div {
    margin-bottom: 0;

}

#contact-div {
    width: 60%;
    background: linear-gradient(to bottom left, #006666 100%, #333300 100%);
    height: 800px;
    padding-top: 4%;
    font-size: 2.5em;
}
.contact-button{
    width: 90px;
    height: 40px;
    margin: 7%;
    font-family: Georgia;
    font-size: larger;
    border-radius: 30px;
}

#contact-socialmedia-div {
    
    padding-top: 4%;
    width: 40%;
    background: linear-gradient(to bottom left, #006666 100%, #333300 100%);
    height: 800px;
    text-align: center;
}
.contact{
    text-align: center;
    float: left;
   
}

#contact-info img{
    margin-top: 5%;
    border: 5px solid black;
    border-radius: 30%;
    padding: 2%;
    background-color: white;
}

#contact-form{
    text-align: center;
    margin-top: 3%;
}

#address, #phone-num, #email{
    margin-bottom: 3%;
    border-radius: 10px;
    width: 30%;
    height: 35px;
    border: solid 2px;
}

.contact-image{
    width: 30%;
    
}

.contact-head{
    font-family: Georgia;
    font-size: 25px;
    text-align: center;
}

.contact-head2{
    font-family: Georgia;
    font-size: 2em;
    margin: 3%;
    text-align: center;
    margin-bottom: 15%;
}

.roomsRates-main-div{
    margin-bottom: 1%;
}

.photo-description-div{
    width: 100%;
    background: #333300;
    height: 500px;
}

.photo-div{
    background-color:#333300;
    float: left;
    width: 50%;
    text-align: center;
    height: 100%;
}

.description-div{
    background-color: #006666;
    float: left;
    width: 50%;
    text-align: center;
    height: 100%;
}

.rooms-image{
    width: 70%;
    height: 100%;
    border-radius: 5%;
    
}

.rooms-button{
    width: 130px;
    height: 70px;
    font-family: Georgia;
    font-size: larger;
    border-radius: 30px;
    display: inline;
    justify-content: center;
    margin: 7%;
    border: 0;
}

.button-div{
    text-align: center;
    
}

.button-div button{
    background-color: lightblue;
}

.description-div .description{
    font-size: 30px;
    font-family: Georgia;
    text-align: justify;
    margin: 3%;
}

.description-div h3{
    font-size: 30px;
    font-family: Georgia;
    text-align: justify;
    margin: 3%;
}

.description-div .price{
    font-size: 30px;
    font-family: Georgia;
    margin: 3%;
}

.RoomsAndRatesTable th{
    padding: 12px;
    text-align: center;
    font-size: 2em;
    border-bottom: 1px solid #ddd;
    width: 10%;
    background-color: coral;

}
  
.RoomsAndRatesTable td {
    padding: 12px;
    font-size: 2em;
    border-bottom: 1px solid #ddd;
    width: 10%;
}

.RoomsAndRatesTable td p{
    float: left;
    line-height: 50px;
}

.RoomsAndRatesTable td img {
    float: left;
}

.RoomsAndRatesTable td img, p{
    margin-right: 3%;
}

.RoomsAndRatesTable img{
    width: 50px;
}







  
  body{
 
    margin-bottom:30%;
    padding-bottom:30%;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
  }


.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  

  .fa:hover {
    opacity: 0.7;
  }


  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  
  .column {
    flex: 33.33%;
    height: 200px;
    padding: 10px;
    margin: 5px;
    background-color: #000000;
    text-align: center;
  }
  .container {
     display: flex;

     
  }	

  #leftbox {
    padding: 2%;
    float:left;
    background:
    #333300;;
    width:35%;
    height:50vh;
    border-bottom-left-radius: 5%;
}
#middlebox{
    float:left;
    background:
    #333300;;
    width:35%;
    height:50vh;
    padding: 2%;
}
#rightbox{
    float:right;
    background:rgb(247, 254, 255);
    color: black;
    width:30%;
    padding:1%;
    height:50vh;
    border-bottom-right-radius: 5%;
    
}

.map_img{
    height: 40vh;
    width:100%;
    border-radius: 5%;
    border: 5px solid black;
}

.map_h1{
    margin-top: 5vh;
    text-align: center;
    background-color: #181823;
    color: white;
    padding: 1%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;


}

.location{
    margin: 3%;
}
.separator{
    padding: 5%;
}
.location_desc{
    vertical-align: middle;
    text-align: center;
}

.location_desc2{
  text-align: center;
}

.center {
    position: relative;
    height: 100%;
    background: #ffffff;
    overflow:hidden;
  }
  
  .center p {
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 1.2em;
    text-align: center;
    

  }
  

